@model GymAcess.Models.FichaExercicio

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>FichaExercicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrucao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrucao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plano.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercicio.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
